.x{
    width: 15%;
    display: flex;        
    margin-top: 20px;
    margin-bottom: 20px;
}

.show_data{
    text-align: center;
}

.purchase{
    margin-left: 80%;
    
}

.total_price{
    margin-left: 80%;
 
}



