.cart_container{
    display: flex;
    justify-content: space-around;
}

.x_cart{
    min-width: 200px; 
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.cart_container_two{
    text-align: center;
    margin: auto;
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: #233237;
}

.cart_container_three{
    display: flex;
    justify-content: space-around;
    padding-top: 5%
}

.show_title{
    margin-top: 20px;
    font-size: 30px;
    text-decoration: underline;
    color: #233237;
}

.total_price{
    color: #233237;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card_details{
    color: #233237;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Purchase button in Form.css
.purchase:hover{
    background-color: #eac67a;
    color: #984B43;
} */

.summary{
    font-size: 18px;
} 

.description{
    margin: 0 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.show_price{
    font-size: 24px;
    color: #233237;
}

.delete{
    cursor: pointer;
    padding: 8px 20px;
    background-color: #233237;
    color: #eac67a;
    font-size: 16px;
    transition: all 0.5s ease 0s;
}

.delete:hover{
    background-color: #eac67a;
    color: #984B43;
    box-shadow: inset 0 0 0 3px #984b43;
}

.newcart{
    height: 100vh;
    /* width: 100%; */
    overflow: auto;
}

.go_to_ratings{
    cursor: pointer;
    padding: 8px 20px;
    background-color: #233237;
    color: #eac67a;
    font-size: 16px;
    transition: all 0.5s ease 0s;
    margin-top: 10px;
}

.go_to_ratings:hover{
    background-color: #eac67a;
    color: #984B43;
    box-shadow: inset 0 0 0 3px #984b43;
}

.message{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #233237;
}

.message_button{
    background-color: #233237;
    color: #eac67a;
    padding: 6px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    margin-top: 2rem;
    margin-left: calc(50% - 46px);
}

.message_button:hover{
    background-color: #eac67a;
    color: #984b43;
    box-shadow: inset 0 0 0 3px #984b43;
}

@media screen and (min-width: 769px){
    .StripeElement{
        width: 400px;
    }

    .go_to_ratings, .total_price, .card_details, .StripeElement, .purchase{
        margin-left: 3rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 768px){
    .cart_container{
        flex-direction: column;
    }

    .x_cart{
        width: 26%;
        height: 250px;
        margin: auto;
        margin-top: 30px;
    }

    .show_title{
        font-size: 35px;
    }

    .description{
        font-size: 18px;
    }

    .summary{
        font-size: 25px;
    }

    .show_price{
        font-size: 25px;
    }

    .delete{
        padding: 10px 30px;
    }

    /* Checkout{
        background-color: #233237;
        background: none;
        box-shadow: #233237 0px 1px 0px;
    } */
    
    .total_price{
        display: flex;
        justify-content: center;
    }

    .card_details{
        display: flex;
        justify-content: center;
    }

    .go_to_ratings{
        margin-left: calc(50% - 80px);
        margin-top: 40px;
    }

    /* stripe folder */
    .purchase{
        margin-left: calc(50% - 57px);
    }

    /* stripe folder */
    .StripeElement{
        margin: 0 calc(50% - 177px);
    }
}


