.cart_container{
    display: flex;
    justify-content: space-around;
}

.x_cart{
    min-width: 200px; 
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.cart_container_two{
    text-align: center;
    margin: auto;
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: #233237;
}

.cart_container_three{
    display: flex;
    justify-content: space-around;
    padding-top: 5%
}

.show_title{
    margin-top: 20px;
    font-size: 30px;
    text-decoration: underline;
    color: #233237;
}

.total_price{
    margin-left: 50px;
    color: #233237
}

.card_details{
    color: #233237;
    margin-left: 50px;
}

.purchase:hover{
    background-color: #eac67a;
    color: #984B43;
}

.summary{
    font-size: 18px;
} 

.description{
    margin: 0 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.show_price{
    font-size: 24px;
    color: #233237;
}

.delete{
    cursor: pointer;
    padding: 8px 20px;
    background-color: #233237;
    color: #eac67a;
    font-size: 16px;
}

.delete:hover{
    background-color: #eac67a;
    color: #984B43;
}

.newcart{
    height: 100vh;
    /* width: 100%; */
    overflow: auto;
}


@media(max-width: 375px){
    .cart_container{
        flex-direction: column;
    }

    .x_cart{
        width: 35%;
        height: 250px;
        margin: auto;
        margin-top: 30px;
    }

    .show_title{
        font-size: 35px;
    }

    .description{
        font-size: 18px;
    }

    .summary{
        font-size: 25px;
    }

    .show_price{
        font-size: 25px;
    }

    .delete{
        padding: 10px 30px;
    }

    /* .StripeCheckout{
        background-color: #233237;
        background: none;
        box-shadow: #233237 0px 1px 0px;
    } */
    
    .total_price{
        margin-left: 35%;
    }

    .card_details{
        margin-left: 36%;
    }
}


