.x{
    width: 15%;
    display: flex;        
    /* margin: auto; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.show_data{
    text-align: center;
}

.total_price{
    margin-left: 20%;
}

.purchase{
    margin-left: 20%;
}

