.purchase{
    cursor: pointer;
    padding: 8px 20px;
    background-color: #233237;
    color: #eac67a;
    font-size: 16px;
    margin-left: 50px;
    transition: all 0.5s ease 0s;
}

.purchase:hover{
    background-color: #eac67a;
    color: #984B43;
    box-shadow: inset 0 0 0 3px #984b43;
}