
.show_button{
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popular{
    display: flex;
    justify-content: space-around;
}

.poster{
    width: auto;
    height: 250px;
    padding: 5px;
}