
.show_button{
    padding: 10px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #233237;
    color: #eac67a;
    cursor: pointer;
}

.popular{
    display: flex;
    justify-content: space-around;
}

.poster:hover{
    opacity: 0.8;
}


.poster>div:hover{
    animation: opacity 1s ease forwards;
    opacity: .3;
    cursor: pointer;
}

.poster>div{
    height: 65%;
    opacity: 0;
    text-align: center;
    margin-top: 78px;
    font-size: 30px;
    color: #fffb00;
}

.container{
    display: flex;
    justify-content: space-around;
}

.show_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #233237;
}

@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
      opacity:1;
    }
  }

@media(max-width: 375px){
    .show_button{
        margin-top: 22px;
        margin-right: 30px;
        font-size: 14px;
    }

    h1{
        font-size: 28px;
        margin-left: 30px;
    }

    .show_container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 750px){
    
}