.show_button{
    padding: 10px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #233237;
    color: #eac67a;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.5s ease 0s;
}

.show_button:hover{
    background-color: #eac67a;
    color: #984B43;
    box-shadow: inset 0 0 0 3px #984b43;
}

.popular{
    display: flex;
    justify-content: space-around;
    height: 17rem;
}

.poster:hover{
    opacity: 0.8;
}

.poster>div{
    height: 100%;
    opacity: 0;
    text-align: center;
    font-size: 30px;
    color: #eac67a;
}

.poster>div:hover{
    animation: opacity 1s ease forwards;
    opacity: .1;
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: space-around;
}

.show_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #233237;
}

@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
      opacity:1;
    }
  }

@media screen and (min-width: 415px) and (max-width: 700px){
    .show_container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 414px){
    .show_container{
        grid-template-columns: 1fr 1fr;
    }
    .greeting{
        font-size: 26px;
        margin-left: 10px;
    }
    .show_button{
        padding: 7px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 375px){
    .show_button{
        margin-top: 15px;
        margin-right: 16px;
        font-size: 15px;
        padding: 8px 30px;
    }

    h1{
        font-size: 28px;
        margin-left: 10px;
    }

    .show_container{
        grid-template-columns: 1fr 1fr;
    }

    .popular{
        height: 17rem;
    }
}

