.footer{
    width: 100%;
    height: 130px;
    background: #233237;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer_section{
    /* width: 130px; */
    padding-right: 20px;
    padding-bottom: 30px;
    vertical-align: top;
    margin-left: 16px;
}

h2{
    color: #EAC67A;
    text-decoration: underline;
    text-align: center;
}

.footer_links a{
    list-style-type: none;
    text-decoration: none;
    color: #EAC67A;
    text-align: center;
}

a:hover{
    color: #984B43
}

.copyright{
    color: #EAC67A;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #233237;
}

@media screen and (max-width: 800px){
    .copyright{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    .footer{
        height: 142px;
    }
}

@media screen and (min-width: 415px) and (max-width: 650px){
    .copyright{
        font-size: 8px;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 10px;
        justify-content: right;
        height: 13rem;
    }

    .footer_section{
        padding-right: 0;
        padding-bottom: 0;
        vertical-align: 0;
        margin-left: 0;
    }

    .footer_section_header{
        text-align: center;
    }

    .footer_links a {
        text-align: center;
    }
}

@media screen and (min-width: 360px) and (max-width: 414px){
    h2{
        font-size: large;
        text-align: center;
    }

    .footer_section{
        padding-right: 0;
        padding-bottom: 0;
        margin: auto;
    }

    .footer_links a{
        text-align: center;
        font-size: small;
    }

    .copyright{
        background: #233237;
        padding-bottom: 20px;
        font-size: smaller;
        border-top: 1px solid;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 10px;
        justify-content: right;
    }
}

