.x{
    width: 15%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.get_shows{
    text-align: center;
    margin: 20px 0;
}

.find_shows{
    background-color: #233237;
    color: #eac67a;
    padding: 6px 14px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.search{
    padding: 8px 10px;
    font-size: 14px;
    border: solid #233237 2px;
}

.img {
    display: flex;
    justify-content: space-around;
}

.add{
    padding: 8px 8px 5px 8px;
    margin-bottom: 20px;
    background-color: #233237;
    color: #eac67a;
    cursor: pointer;
}

.info{
    text-align: center;
}