.get_shows_parent{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #233237;
}

.x{
    width: 15%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.get_shows{
    text-align: center;
    margin: 20px 0;
    height: 50px;
}

.showlist{
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.find_shows{
    background-color: #233237;
    color: #eac67a;
    padding: 6px 14px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.search{
    padding: 8px 10px;
    font-size: 14px;
    border: solid #233237 2px;
}

.img {
    display: flex;
    justify-content: space-around;
}

.add{
    padding: 12px 16px 12px 16px;
    margin-bottom: 20px;
    background-color: #233237;
    color: #eac67a;
    cursor: pointer;
    font-size: 14px;
}

.info{
    text-align: center;
}

@media(max-width: 375px){
    .x{
        width: 35%;
    }

    .data{
        font-size: 20px;
    }

    .add{
        padding: 12px 25px;
        font-size: 16px;
        margin-bottom: 45px;
    }

    .search{
        font-size: 18px;
    }

    .find_shows{
        padding: 8px 20px;
    }
}