.get_shows_parent{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #233237;
    height: 100vh;
}

.background_content{
    display: flex;
    justify-content: center;
    width: 100%;
}

.tv{
    width: 70%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.x{
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.get_shows{
    text-align: center;
    margin: 20px 0;
    position: absolute;
    margin-top: 20%;
}

.search_two{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.showlist{
    height: 100vh;
    width: 100%;
    overflow: auto;
    margin-top: 40px;
}

.search{
    padding: 8px 10px;
    font-size: 14px;
    border: solid #233237 2px;
}

.search_three{
    padding: 8px 10px;
    font-size: 14px;
    border: solid #233237 2px;
}

.find_shows{
    background-color: #233237;
    color: #eac67a;
    padding: 6px 14px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.find_shows:hover{
    background-color: #eac67a;
    color: #984b43;
    box-shadow: inset 0 0 0 3px #984b43;
}

.find_shows_two{
    background-color: #233237;
    color: #eac67a;
    padding: 6px 14px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.find_shows_two:hover{
    background-color: #eac67a;
    color: #984b43;
    box-shadow: inset 0 0 0 3px #984b43;
}

.img {
    display: flex;
    justify-content: space-around;
}

.add{
    padding: 12px 16px 12px 16px;
    margin-bottom: 20px;
    background-color: #233237;
    color: #eac67a;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.5s ease 0s;
}

.add:hover{
    background-color: #eac67a;
    color: #984b43;
    box-shadow: inset 0 0 0 3px #984b43;
}

.info{
    text-align: center;
}

.p_one{
    font-size: 20px;
    text-decoration: underline;
}

@media screen and (min-width: 769){
    .showlist{
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px){
    .background_content{
        height: 45.5rem;
    }

    .tv{
        height: 33rem;
        margin-top: 60px;
        width: 80%;
    }

    .get_shows{
        margin-top: 30%;
    }

    .showlist{
        height: 650px;
        margin-top: 20px;    
    }

    .x{
        width: 35%;
    }

    .p_one{
        font-size: 35px;
    }

    .show_rating{
        font-size: 28px;
    }

    .price{
        font-size: 28px;
    }

    .search_two{
        margin-top: 15px;
    }
}

@media screen and (min-width: 414px) and (max-width: 767px){
    .background_content{
        height: 439px;
    }

    .get_shows{
        position: absolute;
        margin-top: 20%;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .tv{
        width: 87%;
        height: 55vh;
        margin-top: 20px;
    }

    .find_shows{
        margin-top: 15px;
    }

    .x{
        width: 40%;
    }

    .p_one{
        font-size: 25px;
    }

    .show_rating{
        font-size: 20px;
    }

    .price{
        font-size: 20px;
    }

    .showlist{
        height: 350px;
        margin-top: 25px;
    }
}

@media screen and (min-width: 360px) and (max-width: 413px){
    .x{
        width: 35%;
    }

    .data{
        font-size: 20px;
    }

    .add{
        padding: 12px 25px;
        font-size: 16px;
        margin-bottom: 45px;
    }

    .search{
        font-size: 18px;
    }

    .find_shows{
        padding: 8px 20px;
        margin-top: 20px;
    }

    .tv{
        height: 50vh;
        width: 87%;
        margin-top: 40px;
    }

    .get_shows{
        width: 56%
    }

    .background_content{
        height: 371px;
    }

    .showlist{
        height: 288px;
        margin-top: 20px;
    }
}



        
