/* .particles_js{
    background: #233237;
    height: 100%;
} */


.login_container{
    position: absolute;
    margin: 20% 35%;
}

.main_title{
    text-align: center;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #eac67a;
}

.sign_in{
    display: block;
    margin: auto;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #eac67a;
    color: #984b43;
    
}

.sign_in:hover{
    cursor: pointer;
}


