
.login_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    width: 100%;
    margin-top: 250px;

}

.main_title{
    text-align: center;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #eac67a;
}

.sign_in{
    display: block;
    margin: auto;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #eac67a;
    color: #984b43;
    
}

.sign_in:hover{
    cursor: pointer;
}





