
.main_title{
    text-align: center;
    font-size: 60px;
    margin-top: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #eac67a;
}

.sign_in{
    display: block;
    margin: auto;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #233237;
    color: #eac67a;
}

#particles-js{
    background: #233237;
    height: 400px;
}