.Navbar {
    width: 100%;
    height: 75px;
    background: #233237;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .title{
    font-size: 30px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  a:vistited{
    color: #EAC67A;
  }

  a:hover{
    color: #984B43;
  }

  a:active{
    color: #EAC67A;
  }
  
  li {
    display: inline-block;
    margin-left: 16px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  a{
    text-decoration: none;
    color: #EAC67A;
  }

  .dropdown{
    display: none;
  }

  @media(max-width: 750px){
    .Navbar{
      justify-content: space-around;
    }

    .navigation{
      display: none;
    }

  .dropbtn {
      background-color: #EAC67A;
      color: #233237;
      padding: 16px;
      font-size: 16px;
      border: none;
      border-radius: 10%;
      cursor: pointer;
      width: 130px
  }

  .dropdown:hover .dropbtn {
    background-color: #984B43;
}
  
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #EAC67A;
      width: 130px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      color: #233237;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #233237;
      color: #EAC67A;
      text-decoration: underline;
  }

  .show{
    display: block;
  }

}
  

 